body {
  background-image:url("https://previews.123rf.com/images/elen1/elen11702/elen1170200013/70742198-circuit-board-electronic-computer-hardware-technology-motherboard-digital-chip-tech-science-backgrou.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center top;

  background-color: rgba(238, 238, 238, 0.3);
	background-blend-mode: color;
	font-family: 'Open Sans', sans-serif;
}
