body {
  background-image:url('blue-purple-sky.jpg');
  /*background-image:url('cityskyline.jpg'); */
  background-size: 100% 100%;
}
div {
  height: 18px;
  width: 70%;
  display: inline-block;
}
h1 {
  color:white;
  font-family: Oswald;
  font-size: 25px;
  text-align: left;
}

h2 {
  color:white;
  font-family: Oswald;
  font-size: 75px;
  line-height:70px;
  text-align: center;
}

h3 {
  color:white;
  font-family: Oswald;
  font-size: 36px;
  line-height: 32px;
  text-align: center;
}

h4 {
  color:white;
  float:right;

  font-size: 16px;
  display:inline-block;
  margin-right:10px;
}
