
body {
	background-color:gray;
	margin:0;
	font-size:1em;
  font-family: 'PT Sans', sans-serif;
}

/*Sticky Header*/

header {
	/*background-color:#222;*/
	width:100%;
	height:80px;
	position:fixed;
	top:0px;
	left:0px;
	z-index:1000000000000;
	display:flex;
	align-items:center;
	}

header p{
  position: relative;
  margin-left: 20px;
  color: rgb(20,40,59);
  font-size: 30px;
  font-family: 'PT Sans', sans-serif;
}


/* Navigation */

nav {
	display:flex;
	justify-content: space-between;
	width:30%;
  position: absolute;
	right:1rem;
	}

.navButton {
	height:50px;
	width:175px;
	transition: background-color 1s ease;
	}

.navButton a {
  margin: auto;
  color: rgb(20,40,59);
	display:block;
	text-align:center;
	margin-top:15px;
  text-decoration: none;
	}

.navButton a:hover{
  color:white;
}

.navButton:hover {
	background-color: rgb(20,40,59);
	}
/* Featured Blog */
/*
#featured {
  position:relative;
  margin: auto;
	width:95%;
	margin-top:3rem;
  margin-bottom:2rem;
}

#featuredContent {
	position:absolute;
	bottom:25px;
	left:25px;
	width:75%;
}
*/




/*Styling the articles */

section {
	background-color:rgba(255,255,255,.5);
	width:90%;
	margin:auto;
	display:flex;
  margin-top: 8rem;
	flex-wrap:wrap;
	justify-content: space-between;
	}

article {
	width:28%;
	background-color:rgba(255,255,255,.5);
	padding:25px;
	margin-bottom:50px;
	position:relative;
	}

.articleImg {
	width:100%;
	height:350px;
  object-fit: cover;
	}

.button {
	background-color:black;
	width:50px;
	height:50px;
	position:absolute;
	right:0px;
	bottom:0px;
	display:flex;
	justify-content:center;
	align-items:center;
	}

.button img {
  filter:invert(70%);
  width: 80%;
	transition: transform .3s ease;
	}

.button img:hover {
	transform:scale(1.4);
	}

  /*Define font sizes*/

.intro {
  margin-top: 15rem;
}

.intro hr{
  border: 10px solid maroon;
  border-radius: 5px;
}

  h3 {
  	font-size:1.4em;
  	}

  h6 {
  	font-size:.8em;
  	}

  p	{
  	font-size:1em;
  	}

/*
  div {
    height: 18px;
    width: 70%;
    display: inline-block;
  }
  h1 {
    color:white;
    font-family: Oswald;
    font-size: 25px;
    text-align: left;
  }

  h2 {
    color:white;
    font-family: Oswald;
    font-size: 75px;
    line-height:70px;
    text-align: center;
  }

  h3 {
    color:white;
    font-family: Oswald;
    font-size: 36px;
    line-height: 32px;
    text-align: center;
  }

  h4 {
    color:white;
    float:right;

    font-size: 16px;
    display:inline-block;
    margin-right:10px;
  }
